@{
    ViewData["Title"] = "Root";
    Layout = "_LayoutRoot";
}
<a asp-area="" asp-controller="Root" asp-action="Log">Logs</a>
<a asp-area="" asp-controller="Root" asp-action="Companies">Companies</a>