/** { padding: 0; margin: 0; box-sizing: border-box; } */
html { font-family: "Poppins", sans-serif; font-size: 14px; position: relative; min-height: 100%; }

@media (min-width: 768px) {
    html { font-size: 16px; }
}

body { /*border: 1px solid red;*/ margin-bottom: 60px; font-family: "Poppins", sans-serif; --black: #242424; --white: #f5f5f5; --pill: #e0d4be; --red: #cc033f; }
header { width: 100%; min-height: 100vh; overflow-x: hidden; }
footer { padding: 6px 20px; /* border: 1px solid #ecfe01;*/ position: absolute; bottom: 0px; width: 98%; margin-left: 1%; }
ul { list-style: none; }
.page-wrap { position: relative; }

/*  MAIN: Slider Section
        ----------------------------------------------- */
main { width: 100vw; height: 100vh; position: relative; overflow: hidden; }
article { width: 100%; height: 100%; position: absolute; top: 0; left: 0; z-index: var(--i); }

/*============================== 20230411 ===========*/
.cookie-block { position: fixed; width: 100%; bottom: 0px; height: 170px; background: rgba(136, 154, 174, 1); z-index: 999; }
    .cookie-block .cookie-text { color: #fff; font-weight: 400; text-align: center; margin: 25px; font-size: 13px; }
    .cookie-block .cookie-button .cookie-ok { text-align: center; width: 90px; margin: 0 auto; padding: 4px 10px; cursor: pointer; border: solid 2px transparent; background: #fff; color: rgba(136, 154, 174, 1); font-size: 14px; font-weight: 400; }
        .cookie-block .cookie-button .cookie-ok:hover { color: #fff; background: rgba(136, 154, 174, 1); border: solid 2px #fff; }

@media (min-width: 768px) {
    .cookie-block { display: flex; height: 80px; flex-basis: 100%; }
        .cookie-block .cookie-text { text-align: initial; margin: 0px; padding: 0px 10px; display: -webkit-box; display: -webkit-flex; display: flex; font-size: 13px; -webkit-box-align: center; -webkit-align-items: center; align-items: center; flex-basis: 78%; justify-content: right; }
        .cookie-block .cookie-button { display: -webkit-box; display: -webkit-flex; display: flex; -webkit-box-align: center; -webkit-align-items: center; align-items: center; font-size: 13px; flex-basis: 10%; justify-content: right; }
            .cookie-block .cookie-button .cookie-ok:hover { color: #fff; background: rgba(136, 154, 174, 1); border: solid 2px #fff; }
}
/* Стилизация всплывающего окна  Важная часть */
.popup__bg { position: fixed; top: 0; left: 0; width: 100%; height: 100vh; background: rgba(0,0,0,0.5); opacity: 0; /* Скрываем фон и сам попап*/ pointer-events: none; /* Запрещаем ему быть целью событий*/ transition: 0.5s all; /* При добавлении класса 'active'*/ opacity: 1; /* Показываем фон и попап*/ pointer-events: all; /* Возвращаем события*/ transition: 0.5s all; }
.popup { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%) scale(0); /* Центрируем и масштабируем в 0 само окно*/ background: #fff; width: 400px; padding: 25px; transition: 0.5s all; /* При добавлении класса 'active'*/ transform: translate(-50%, -50%) scale(1); /* Так же центрируем и плавно увеличиваем*/ transition: 0.5s all; }
/* Стилизация всплывающего окна Конец важной части */
/* Стилизация всплывающего окна Далее код для стилизации формы */
.close-popup { position: absolute; top: 10px; right: 10px; cursor: pointer; background-image: url('../ico/addsvgpng_ru.svg'); background-size: 42px 50px; transform: rotate(45deg); background-position: 50% 50%; background-repeat: no-repeat; -webkit-transition: 200ms ease-out opacity; -o-transition: 200ms ease-out opacity; transition: 200ms ease-out opacity; width: 26px; height: 26px; margin: 0 auto; }
.popup label { width: 100%; margin-bottom: 25px; display: flex; flex-direction: column-reverse; }
    .popup label:first-child { margin-top: 60px; }
.popup .label__text { font-size: 14px; text-transform: uppercase; font-weight: 500; color: #cfd0d3; margin-bottom: 5px; }
.popup input { font-size: 18px; border: none; outline: none; border-bottom: 1px solid #cfd0d3; }
    .popup input:focus { border-bottom: 1px solid #2982ff; }
        .popup input:focus + .label__text { color: #2982ff; }
.popup textarea { resize: none; width: 100%; height: 150px; border: none; outline: none; border-bottom: 1px solid #cfd0d3; font-size: 18px; padding-top: 5px; }
    .popup textarea:focus { border-bottom: 1px solid #2982ff; }
        .popup textarea:focus + .label__text { color: #2982ff; }
.popup .btnSave { width: 100%; height: 45px; display: flex; align-items: center; justify-content: center; color: #fff; font-size: 18px; border: 2px solid #2982ff; background: #2982ff; cursor: pointer; text-transform: uppercase; transition: 0.5s all; margin-top: 120px; }
    .popup .btnSave:hover { background: #fff; color: #2982ff; transition: 0.5s all; }
/* Стилизация всплывающего окна Конец  Далее код для стилизации формы */
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
/* ---------------Animation---------------- */
.slit-in-vertical { -webkit-animation: slit-in-vertical 0.45s ease-out both; animation: slit-in-vertical 0.45s ease-out both; }

@-webkit-keyframes slit-in-vertical {
    0% { -webkit-transform: translateZ(-800px) rotateY(90deg); transform: translateZ(-800px) rotateY(90deg); opacity: 0; }
    54% { -webkit-transform: translateZ(-160px) rotateY(87deg); transform: translateZ(-160px) rotateY(87deg); opacity: 1; }
    100% { -webkit-transform: translateZ(0) rotateY(0); transform: translateZ(0) rotateY(0); }
}

@keyframes slit-in-vertical {
    0% { -webkit-transform: translateZ(-800px) rotateY(90deg); transform: translateZ(-800px) rotateY(90deg); opacity: 0; }
    54% { -webkit-transform: translateZ(-160px) rotateY(87deg); transform: translateZ(-160px) rotateY(87deg); opacity: 1; }
    100% { -webkit-transform: translateZ(0) rotateY(0); transform: translateZ(0) rotateY(0); }
}
/*---------------#region Alert--------------- */
#dialogoverlay { display: none; opacity: .8; position: fixed; top: 0px; left: 0px; background: #707070; width: 100%; z-index: 10; }
#dialogbox { display: none; position: absolute; background: #FFF; border-radius: 7px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.575); transition: 0.3s; width: 80%; z-index: 10; top: 0; left: 0; right: 0; margin: auto; }

@media (min-width: 768px) {
    #dialogbox { width: 40%; }
}

#dialogbox:hover { box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.911); }
.container { padding: 2px 16px; }
.pure-material-button-contained { position: relative; display: inline-block; box-sizing: border-box; border: none; border-radius: 4px; padding: 0 16px; min-width: 64px; height: 36px; vertical-align: middle; text-align: center; text-overflow: ellipsis; text-transform: uppercase; color: rgb(var(--pure-material-onprimary-rgb, 255, 255, 255)); background-color: #2982ff; box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12); font-family: var(--pure-material-font,"Poppins", "Roboto", "Segoe UI", BlinkMacSystemFont, system-ui, -apple-system); font-size: 14px; font-weight: 500; line-height: 36px; overflow: hidden; outline: none; cursor: pointer; transition: box-shadow 0.2s; }
    .pure-material-button-contained::-moz-focus-inner { border: none; }
    /* ---------------Overlay--------------- */
    .pure-material-button-contained::before { content: ""; position: absolute; top: 0; bottom: 0; left: 0; right: 0; background-color: rgb(var(--pure-material-onprimary-rgb, 255, 255, 255)); opacity: 0; transition: opacity 0.2s; }
    /* Ripple */
    .pure-material-button-contained::after { content: ""; position: absolute; left: 50%; top: 50%; border-radius: 50%; padding: 50%; width: 32px; /* Safari */ height: 32px; /* Safari */ background-color: rgb(var(--pure-material-onprimary-rgb, 255, 255, 255)); opacity: 0; transform: translate(-50%, -50%) scale(1); transition: opacity 1s, transform 0.5s; }
    /* Hover, Focus */
    .pure-material-button-contained:hover,
    .pure-material-button-contained:focus { box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12); }
        .pure-material-button-contained:hover::before { opacity: 0.08; }
        .pure-material-button-contained:focus::before { opacity: 0.24; }
        .pure-material-button-contained:hover:focus::before { opacity: 0.3; }
    /* Active */
    .pure-material-button-contained:active { box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12); }
        .pure-material-button-contained:active::after { opacity: 0.32; transform: translate(-50%, -50%) scale(0); transition: transform 0s; }
    /* Disabled */
    .pure-material-button-contained:disabled { color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.38); background-color: #2982ff12; /*#2982ff + opacity=0.12*/ box-shadow: none; cursor: initial; }
        .pure-material-button-contained:disabled::before { opacity: 0; }
        .pure-material-button-contained:disabled::after { opacity: 0; }
#dialogbox > div { background: #FFF; margin: 8px; }
    #dialogbox > div > #dialogboxhead { background: #FFF; font-size: 19px; padding: 10px; color: #2982ff; font-family: "Poppins", Verdana, Geneva, Tahoma, sans-serif; }
    #dialogbox > div > #dialogboxbody { display: flex; align-items: center; background: #FFF; padding: 20px; color: #2982ff; font-family: "Poppins", Verdana, Geneva, Tahoma, sans-serif; }
        #dialogbox > div > #dialogboxbody .i { float: left; margin-right: 20px; background-image: url('../ico/i.png'); background-size: 50px 50px; background-position: 50% 50%; background-repeat: no-repeat; width: 52px; height: 52px; }
        #dialogbox > div > #dialogboxbody .ok { float: left; margin-right: 20px; background-image: url('../ico/ok.png'); background-size: 50px 50px; background-position: 50% 50%; background-repeat: no-repeat; width: 52px; height: 52px; }
        #dialogbox > div > #dialogboxbody .no { float: left; margin-right: 20px; background-image: url('../ico/no.png'); background-size: 50px 50px; background-position: 50% 50%; background-repeat: no-repeat; width: 52px; height: 52px; }
    #dialogbox > div > #dialogboxfoot { background: #FFF; padding: 10px; text-align: right; }

.title-companies { padding: 16px 32px; }
.create-popup-div { position: absolute; top: 16px; right: 20px; cursor: pointer; background-image: url('../ico/addsvgpng_ru.svg'); background-size: 42px 50px; background-position: 50% 50%; background-repeat: no-repeat; -webkit-transition: 200ms ease-out opacity; -o-transition: 200ms ease-out opacity; transition: 200ms ease-out opacity; width: 26px; height: 26px; margin: 0 auto; }


/*   #endregion Alert  */
.table { border-collapse: collapse; border: 1px solid #999999; text-align: left; margin: 0 auto; width: 100%; }
    .table td { border: 1px solid #999999; padding: 5px; }
    .table .companyName { cursor: pointer; }
    .table td .edit-popup { width: 21px; height: 21px; cursor: pointer; background-image: url('../ico/editshsvgpng_ru.png'); background-size: 18px 18px; background-position: 50% 50%; background-repeat: no-repeat; -webkit-transition: 200ms ease-out opacity; -o-transition: 200ms ease-out opacity; transition: 200ms ease-out opacity; float: left; margin-left: 20px; }
    .table td .delete-popup { width: 21px; height: 21px; cursor: pointer; background-image: url('../ico/addsvgpng_ru.svg'); background-size: 42px 50px; transform: rotate(45deg); background-position: 50% 50%; background-repeat: no-repeat; -webkit-transition: 200ms ease-out opacity; -o-transition: 200ms ease-out opacity; transition: 200ms ease-out opacity; float: left; margin-left: 20px; }
    .table td:last-child { width: 100px; text-align: center; }
    .table th { border: 1px solid #000000; vertical-align: middle; padding: 5px; font-weight: 400; color: #6c6c69; }
        .table th .create-popup { cursor: pointer; background-image: url('../ico/addsvgpng_ru.svg'); background-size: 42px 50px; background-position: 50% 50%; background-repeat: no-repeat; -webkit-transition: 200ms ease-out opacity; -o-transition: 200ms ease-out opacity; transition: 200ms ease-out opacity; width: 26px; height: 26px; margin: 0 auto; }

.popup input:-moz-placeholder { color: #9a9a9a; text-align: left; font-size: small; line-height: 20px; }
.popup input::-moz-placeholder { color: #9a9a9a; text-align: left; font-size: small; line-height: 20px; }
.popup input:-ms-input-placeholder { color: #9a9a9a; text-align: left; font-size: small; line-height: 20px; }
.popup input::-webkit-input-placeholder { color: #9a9a9a; text-align: left; font-size: small; line-height: 20px; }
.popup input::placeholder { color: #9a9a9a; text-align: left; font-size: small; line-height: 20px; }

/* grid */
.container-grid { border: 1px solid #e4dcdc; border-right: 1px solid transparent; display: grid; grid-template-columns: repeat(4, 1fr) 0.5fr; width: 90%; margin: 0 auto; }
    .container-grid .item { border-right: 1px solid #e4dcdc; padding: 10px; }
    .container-grid .hr-end { grid-column: col 1 / span 3; border-top: 1px solid #e4dcdc; height: 30px; }
    .container-grid .item .create-popup { cursor: pointer; background-image: url('../ico/addsvgpng_ru.svg'); background-size: 42px 50px; background-position: 50% 70%; background-repeat: no-repeat; -webkit-transition: 200ms ease-out opacity; -o-transition: 200ms ease-out opacity; transition: 200ms ease-out opacity; width: 26px; height: 26px; margin: 0 auto; }
    .container-grid .item .edit-popup { width: 21px; height: 21px; cursor: pointer; background-image: url('../ico/editshsvgpng_ru.png'); background-size: 18px 18px; background-position: 50% 50%; background-repeat: no-repeat; -webkit-transition: 200ms ease-out opacity; -o-transition: 200ms ease-out opacity; transition: 200ms ease-out opacity; float: left; }
    .container-grid .item .delete-popup { width: 21px; height: 21px; cursor: pointer; background-image: url('../ico/addsvgpng_ru.svg'); background-size: 42px 50px; transform: rotate(45deg); background-position: 50% 50%; background-repeat: no-repeat; -webkit-transition: 200ms ease-out opacity; -o-transition: 200ms ease-out opacity; transition: 200ms ease-out opacity; float: left; margin-left: 2px; }
    .container-grid .item:nth-child(-n+5) { padding: 12px 5px 0px; border-bottom: solid 1px #e4dcdc; color: #24242480; }
    .container-grid .item.companyName { cursor: pointer; }

/* details */
.container { display: grid; grid-template-columns: repeat(3, 1fr); }
.div-company-details { margin: 26px 16px; }
    .div-company-details .title-companies-details { margin-right: 26px; font-weight: 700; }

.container-grid-details { margin-bottom: 30px; border-top: 1px solid #e4dcdc; border-bottom: 1px solid #e4dcdc; display: grid; grid-template-columns: repeat(5, 1fr) repeat(3, 0.5fr); grid-column-gap: 0px; grid-row-gap: 0px; margin: 0 auto; }

    .container-grid-details:first-child .hr-end { border: 1px solid transparent; }

    .container-grid-details.employees { margin-top: 20px; }
    .container-grid-details.employee { border-left: 0px; border-right: 0px; border-bottom: 0px; margin-top: 20px; }

    .container-grid-details .title-parent { grid-column: col 1 / span 5; font-weight: 700; padding: 9px 10px 4px; min-height: 30px; height: 30px; }
    .container-grid-details.employee .title-parent { color: #fff; }
    .container-grid-details .ico1 { grid-column: col 6 / span 1 }
    .container-grid-details .ico2 { grid-column: col 7 / span 1 }
    .container-grid-details .ico3 { grid-column: col 8 / span 1 }
    .container-grid-details .galka { cursor: pointer; background-image: url('../ico/galkasvgpng_ru.svg'); background-size: 21px 21px; background-position: 50% 50%; background-repeat: no-repeat; width: 26px; padding-top: 10px; }
    .container-grid-details .add { cursor: pointer; background-image: url('../ico/addsvgpng_ru.svg'); background-size: 36px 48px; background-position: 50% 50%; background-repeat: no-repeat;  width: 26px; padding-top: 10px; }
    .container-grid-details .delete { cursor: pointer; background-image: url('../ico/deletesvgpng_ru.svg'); background-size: 21px 21px; background-position: 50% 50%; background-repeat: no-repeat; width: 26px; padding-top: 10px; }
    .container-grid-details .refresh { cursor: pointer; background-image: url('../ico/refreshsvgpng_ru.svg'); background-size: 21px 21px; background-position: 50% 50%; background-repeat: no-repeat; width: 26px; padding-top: 10px; }
    .container-grid-details .edit { cursor: pointer; background-image: url('../ico/editshsvgpng_ru.png'); background-size: 18px 18px; background-position: 50% 50%; background-repeat: no-repeat; width: 26px; padding-top: 10px; }

    .container-grid-details .hr-end { grid-column: col 1 / span 8; border-top: 1px solid #e4dcdc; height: 30px; }

    .container-grid-details .title-left { grid-column: col 1 / span 4; padding: 10px; color: #24242480; border: 1px solid #e4dcdc; }
    .container-grid-details .title-right { grid-column: col 5 / span 4; padding: 10px; color: #24242480; border: 1px solid #e4dcdc; border-left: 1px solid transparent; }
    .container-grid-details .title-left-employees { grid-column: col 1 / span 3; padding: 10px; color: #24242480; border: 1px solid #e4dcdc; }
    .container-grid-details .title-right-employees { grid-column: col 4 / span 5; padding: 10px; color: #24242480; border: 1px solid #e4dcdc; border-left: 1px solid transparent; }
    .container-grid-details .item-left { grid-column: col 1 / span 4; padding: 6px 10px; border-left: 1px solid #e4dcdc; border-right: 1px solid #e4dcdc; }
        .container-grid-details .item-left.info { margin: 8px 0px; border: 0px; }
    .container-grid-details .item-right { grid-column: col 5 / span 4; padding: 6px 10px; border-right: 1px solid #e4dcdc; }
        .container-grid-details .item-right.info { border: 1px solid #e4dcdc; padding: 4px 12px; margin: 8px 6px; min-width: 120px; }

    .container-grid-details .item-left.hisrory { min-width: 90px; }
    .container-grid-details .item-right.hisrory { min-width: 90px; }
    .container-grid-details .title-left.notes { font-size: 12px; padding: 4px 10px; text-align: right; min-width: 100px; }
    .container-grid-details .title-right.notes { font-size: 12px; padding: 4px 10px; min-width: 90px; }
    .container-grid-details .item-left.notes { font-size: 12px; padding: 1px 10px; text-align: right; min-width: 100px; }
    .container-grid-details .item-right.notes { font-size: 12px; padding: 1px 10px; min-width: 90px; }

    .container-grid-details .item-left-employees { grid-column: col 1 / span 3; cursor: pointer; padding: 6px 10px; border-left: 1px solid #e4dcdc; border-right: 1px solid #e4dcdc; }
    .container-grid-details .item-right-employees { grid-column: col 4 / span 5; cursor: pointer; padding: 6px 10px; border-right: 1px solid #e4dcdc; }

    .container-grid-details .item-left-employee { grid-column: col 1 / span 3; cursor: pointer; padding: 6px 0px 0px 6px; font-size: 12px; margin-right: 20px; }
    .container-grid-details .item-right-employee { grid-column: col 4 / span 5; cursor: pointer; padding: 6px 8px 0px 6px; border: 1px solid #e4dcdc; font-size: 12px; margin-bottom: 12px; }
